/* ~ Browser ~ */
.browser {
    /* background-color: pink !important; */
    align-self: center;
    /* width: 650px; */
    width: 80%;
    height: 420px;

    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 20px 3px rgba(32, 35, 42, 0.14);
    margin: 1.5em 0 0em;
    overflow-y: auto;
}

.browser::-webkit-scrollbar {
    width: 5px;
}

.browser::-webkit-scrollbar-thumb {
    background: #DE5F5F;
    border-radius: 10px;
}

.browser::-webkit-scrollbar-thumb:hover {
    background: #a83636;
}

.browser::-webkit-scrollbar-track {
    margin-top: 33px;
    margin-bottom: 33px;
}

/* ~ Browser Bar ~ */
.browserBar {
    /* background-color: pink !important; */
    background: #EEF1F5;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #DEE0E4;
    overflow: hidden;
}

.browserBar .options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options .option {
    height: 12px;
    width: 12px;
    border-radius: 50px;
    margin: 0 5px;
}

.close {
    background: #EF534A;
}

.minimise {
    background: #EDC04A;
}

.expand {
    background: #97D272;
}

/* ~ Browser Content ~ */
.browserContent {
    /* background-color: pink !important; */
    height: 100%;
}

.row {
    /* background-color: pink; */
    display: flex;

    padding: 0px 15px;
    border-bottom: 1px solid #EBEFF4;
}

.row:hover {
    background: #EBEFF4;
    cursor: pointer;
    transition: .5s ease;
}

.row>p {
    /* background-color: red; */
    margin-top: auto;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 50px;
}

.row i {
    /* background-color: red !important; */
    margin-right: 10px;
    font-size: 25px;
    font-weight: normal;
    margin-top: 3px;
    width: 30px;
}

.pHeading{
    /* background-color: red; */
    min-width: 300px !important;
}

.row .heading {
    position: relative;
    top: -5px;
    /* color: #616B7F; */
    font-size: 15px;
    font-weight: 900;
}

.stars {
    /* background-color: pink; */
    color: black;
    margin: -5px 15px 0 15px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: auto;
    max-width: 300px;
}

.fas {
    font-weight: 900 !important;
}

.stars i {
    font-size: 22px;
}

.stars i:hover {
    transform: scale(1.2);
    transition: transform .4s ease;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
/* hi-res laptops and desktops */
@media (max-width:1281px) {
    .browser {
        /* background-color: pink !important; */
        width: 90vw;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
    .browser {
        /* background-color: pink !important; */
        width: 83vw;
    }

    .row>p:nth-child(2) span {
        /* background-color: red; */
        /* display: none; */
        font-size: 10px;
    }

    .stars {
        /* background-color: pink; */
        max-width: 250px;
    }

    .stars i {
        font-size: 15px;
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {
    .browser {
        /* background-color: pink !important; */
        width: 75vw;
    }

    .row>p:nth-child(2) {
        /* background-color: red; */
        display: none;
    }

    .stars {
        /* background-color: pink; */
        max-width: 220px;
    }

    .stars i {
        font-size: 12px;
    }
}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {
    .stars {
        /* background-color: pink; */
        max-width: 160px;
    }
}